# Copie ce fichier en .env et remplis tes infos
# Sur Railway, configure ces variables dans "Variables" (pas besoin de .env)

RIOT_NAME=TonPseudo
RIOT_TAG=EUW
RIOT_REGION=eu
HENRIK_API_KEY=
PORT=3000
